<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Button Colors</h4>
  <ion-button color="primary"> Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>

  <ion-button color="success"> success</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="light"> light</ion-button>
  <ion-button color="medium">medium</ion-button>
  <ion-button color="dark">dark</ion-button>

  <h4>Expandido</h4>
  <ion-button expand="full"> full</ion-button>
  <ion-button expand="block">block</ion-button>

  <h4>Arrendondado</h4>
  <ion-button shape="round"> light</ion-button>
  <ion-button shape="medium">medium</ion-button>
  <ion-button shape="dark">dark</ion-button>

  <h4>Preenchimento</h4>
  <ion-button fill="outline"> Outline</ion-button>
  <ion-button fill="outline" color="warning"> Outline</ion-button>

  <h4>ícones</h4>
  <ion-button>
    <ion-icon slot="start" name="star"></ion-icon>
    Ícone
  </ion-button><br>
  <ion-button>
    <ion-icon slot="icon-only" name="star"></ion-icon>
  </ion-button><br>
  
  <ion-button href="http://google.com.br">Link</ion-button>
</ion-content>
